.header {
    display: flex;
    background-color: lightgrey;
    justify-content: space-between;
    border: 1px solid #000;
    margin: 0px 22px;
}
.logo {
    width: 10rem;
}

.nav-items > ul {
    display: flex;
    
}
.nav-items > ul >li {
    font-size: 22px;
    padding: 12px;
    margin: 12px;
    list-style: none;
}
.cards {
    margin: 6px;
    width: 200px;
    height: 92%;
    overflow: hidden;
    padding: 0px 12px;
    background-color: lightgrey;
}
.cuisines-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cards:hover {
    border: 1px solid black;
    cursor: pointer;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.searchbar {
    padding: 24px;
}
.image-1 {
width: 99%;
    height: 50%;
    padding: 5px;
    margin-right: 0px;
    position: relative;
    right: 7px;
}


/* ***************Footer****************** */
.footer {
    display: flex;
    border: 1px solid black;
    background-color: lightgrey;
    height: 16rem;
    margin-top: 3rem;
}
.nav-links {
    display: grid;
}
.copy-right, .nav-links,
.address {
    width: 33%;
}

.filter-btn {
    margin: 10px;
    height: 48px;
    border-radius: 26px;
    width: 14rem;
    border: 1px solid gray;
    cursor: pointer;
    
}
.filter-btn:hover {
    background-color: gray;
    color: white;
}

.shiimer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 6px;
    width: 200px;
    height: 400px;
    padding: 0px 12px;
    background-color: lightgrey;
}

.login-btn {
    padding: 0px 26px;
    height: 46px;
    margin: 16px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: #000;
    border: 1px solid gray;
    color: #fff
}

.user-container {
    display: inline-block;
}

.user-card {
    padding: 18px;
    margin: 16px;
    border: 1px solid #000;
    background-color: lightyellow;
    width: 24rem;
    height: auto;
}
.user-img {
    width: 24rem;
}